<p>Здравствуйте, <strong>{{ name }}</strong>!</p>
<p>Чтобы завершить регистрацию аккаунта, подтвердите адрес электронной почты. Это поможет защитить ваш аккаунт и позволит при необходимости восстановить пароль</p>
<p><a href="{{ link }}">Подтвердить эл. почту</a></p>
<p>Ссылка действует в течение <strong>48 часов</strong>.</p>
