<p>Здравствуйте, <strong>{{ name }}</strong>!</p>
<p>Мы получили ваш запрос на сброс пароля аккаунта. Если вы действительно запрашивали сброс пароля, перейдите по ссылке ниже</p>
<p><a href="{{ link }}">Сбросить пароль</a></p>
<p>Ссылка действует в течение <strong>48 часов</strong>.</p>
